# Operators in python

## 6. types of operators

## 1. Arithmetic operators

In [2]:
## used to perform mathetical operations on the data
## + - *, /,%,**,//
## // it returns the quotient

In [4]:
## define two integer variables 
x= 25
y=10

In [5]:
result=x+y

In [6]:
print(result)

35

In [8]:
## subtraction 
result= x-y

In [9]:
print(result)

15

In [10]:
## multiplication 
result= x*y

In [11]:
print(result)

250

In [12]:
# Modulus - it returns the remainder after the devision 
result = x%y

In [13]:
print(result)

5

In [15]:
2**3  ##** raise to power

8

In [16]:
## operator precedence 
## parenthesis 
## power **
## Divison and multiplication, modulus (their priority is left to right)
## subtraction, Add (their priority is left to right)

In [17]:
5/4%2

1.25

In [18]:
5%4/2

0.5

In [21]:
2+4*3/6**2+5%4/2

2.8333333333333335

## Comparison operators

In [ ]:
## used for conditional purpose
## Also known as relational operators 
## >,<,==,!=,>=,<=
## Always returns a boolean value that is true or false

In [1]:
a= 25
b=10

In [2]:
a>b

True

In [3]:
result = a>b

In [4]:
print(result)

True

In [5]:
type(result)

bool

In [7]:
result = a<b

In [8]:
print(result)

False

In [9]:
result = a==b

In [10]:
print(result)

False

In [18]:
result = a!=b

In [19]:
print(result)

True

In [22]:
a='delhi'
b='delhi'

In [23]:
a==b

True

In [24]:
a!=b

False

# Assignment operators

In [ ]:
## used to assign values to variables 
## =, +=, -=, *=, **=

In [31]:
a = 15

In [33]:
print(a)

15

In [34]:
a+=10

In [35]:
print(a)

25

In [36]:
a=+30

In [37]:
print(a)

30

In [38]:
a=a+15

In [39]:
print(a)

45

In [40]:
a-=10

In [41]:
print(a)

35

In [23]:
a=2

In [24]:
a*=3

In [25]:
print(a)

6

In [26]:
a/=2

In [27]:
print(a)

3.0

In [28]:
a**=4

In [29]:
print(a)

81.0

## Logical operators

In [31]:
## they are used to perform some actions, based on two operands
## and,or (two operands) & | (use them on place of 'and or' if using boolean variable)
## not (single operand)

In [32]:
a=5

In [33]:
b=6

In [35]:
a==5 and b>3

True

In [39]:
a==5 and b<3

False

In [37]:
a>5 and b>4

False

In [38]:
a>5 or b>4

True

In [40]:
## and case 
## T f  f 
## T T T 
## F F F 
## ek bhi false aya tooh pura false hoga 
## or 
## T T T 
## T F T 
## F F F

In [42]:
## operand 1   operand two 
## True        False 
## false       false 
##true        false 
## false      true 

## True       Expression 
## expression  true 
## false      expression 
## expression  false 
## expression  expression

In [47]:
a= 5
b= 6

In [ ]:
## operand 1  Operand 2 
## True       Expression 
## Expression True 

# 'and' operator will always return the 2nd operand
# "or" operator will always return the 1st operand

In [44]:
a>2 and b

6

In [46]:
a and b>2

True

In [48]:
a>2 or b

True

In [50]:
## operand 1  Operand 2 
## false     Expression 
## Expression false 

# 'and' operator will always return the "False"
# "or" operator will always return the "expression"

In [51]:
a=5
b=6

In [55]:
a<4 and b

False

In [53]:
b and a<4

False

In [56]:
a<4 or b

6

In [57]:
b or a<4

6

In [59]:
## operand 1  Operand 2 
## Expression      Expression 

# 'and' operator will always return the 2nd operand
# "or" operator will always return the 1st operand

In [60]:
a or b

5

In [61]:
b or a

6

In [62]:
## not operators the opposite of true or false
## not expression will return false

In [63]:
not a<4

True

In [64]:
not b>4

False

In [65]:
not a

False

In [66]:
not b

False

## Membership operators

In [68]:
## used to check whether a particular value is included in a variable/ data structure 
## in, not in

In [69]:
a = (2,4,6,9)

In [70]:
4 in a

True

In [71]:
8 in a

False

In [72]:
5 not in a

True

In [73]:
6 not in a

False

In [74]:
a='delhi'

In [75]:
'e'in a

True

In [76]:
'p' in a

False

## Identity operator

In [1]:
## used to compare two objects (variables, values, type etc. )

In [2]:
4 is 5

False

In [3]:
4 is 4

True

In [4]:
a= 5
b= 6

In [5]:
a is b

False

In [42]:
a is not b

True

In [43]:
type(a) is type(b)

False