In [9]:
employee_dict= {'Name':['aman', 'Anil'],'education':{'aman':'graduate','anil':'b.com'},'location':('Rohini','lajpat nagar')}

In [40]:
## 3 key value pairs 
## Name key- it holds a list inside it 
## education key - it holds A DICTIONARY INSIDE IT 
## location key - it holds a tupple inside it

In [3]:
type(employee_dict)

dict

In [14]:
employee_dict['education']['aman']

'graduate'

## sets data structure

In [47]:
set_1= {'raj', 100, 5.6}

In [42]:
print(set1)

## order of set will change automatically in set

{100, 5.6, 'raj'}

In [53]:
type(set1)

set

In [55]:
set_1.add(80)

In [56]:
print(set_1)

{80, 100, 5.6, 'raj'}

In [58]:
set_1.pop()

80

In [59]:
set_1

{100, 5.6, 'raj'}

In [60]:
set_1.remove('raj')

In [61]:
set_1

{5.6, 100}