# Type of data structures

## Tuple data Structure

In [118]:
## created using paranthesis() and comma ,

In [119]:
a=('aman',10,'riya',20)

In [120]:
type(a)

tuple

In [121]:
print(a)

('aman', 10, 'riya', 20)

In [123]:
a[1]

## indexing used to access a particular value from the data structure
## from the left indexing begins wih 0 
## from the right indexing behins with 1 
## Use [] brackets to access a particular value using indexing

10

In [125]:
a[2]

'riya'

In [126]:
a[-2]

'riya'

## List data structure

In [ ]:
## we cannot change the value inside a tuple
## nor can we add any value in a tuple

In [1]:
## LIST IS created using [] square brackets and commas ,
## tuple is immutable

In [3]:
students_ba = ['neha', 'Aman','priya']

In [5]:
type(students_ba)

list

In [8]:
students_ba[-2]

'Aman'

In [9]:
## lists are mutable 
## values can be modified 
## add or delete values

In [10]:
students_ba

['neha', 'Aman', 'priya']

In [11]:
students_ba[0]= 'riya'

In [12]:
students_ba

['riya', 'Aman', 'priya']

In [13]:
students_ba[0]= 'neha'

In [14]:
students_ba

['neha', 'Aman', 'priya']

In [15]:
## Append function is used to add a value at the end 
students_ba.append(90)

In [16]:
students_ba

['neha', 'Aman', 'priya', 90]

In [17]:
students_ba[-1] = 'hrithik'

In [19]:
students_ba

['neha', 'Aman', 'priya', 'hrithik']

In [20]:
## insert method is used to add value to a particular index 
students_ba.insert(2, 'sheenu')

In [21]:
students_ba

['neha', 'Aman', 'sheenu', 'priya', 'hrithik']

In [22]:
## pop method is used to remove the last element
students_ba.pop()

'hrithik'

In [23]:
students_ba

['neha', 'Aman', 'sheenu', 'priya']

In [25]:
## remove function can be used to remove a particular value
students_ba.remove('sheenu')

In [26]:
students_ba

['neha', 'Aman', 'priya']

In [28]:
## reverse method is to reverse the order of values 
students_ba.reverse()

In [29]:
students_ba

['priya', 'Aman', 'neha']

In [30]:
data = [4,8,3,6,9,5]

In [31]:
## sort method - only in increasing oreder either numarically or alphabatically
## for decreasing order use reverse AFTER SORT

In [32]:
data.sort()

In [33]:
data

[3, 4, 5, 6, 8, 9]

In [34]:
data.reverse()

In [36]:
data

[9, 8, 6, 5, 4, 3]

In [38]:
students_ba.sort()

In [39]:
students_ba

['Aman', 'neha', 'priya']

In [41]:
## INDEX FUNCTION 

students_ba.index('neha')

1

In [43]:
## nested list is list inside a list 
## contains list as its element 
nested_list = [[1,2,3],['a','b','c','d'],[4.5,8.9,6.3]]

In [44]:
nested_list

[[1, 2, 3], ['a', 'b', 'c', 'd'], [4.5, 8.9, 6.3]]

In [45]:
nested_list[2][0]

4.5

In [46]:
nested_list[1][2]

'c'

In [47]:
nested_list[1].pop()

'd'

In [50]:
nested_list

[[1, 2, 3], ['a', 'x', 'b', 'c'], [4.5, 8.9, 6.3]]

In [48]:
nested_list[1].insert(1,'x')

In [49]:
nested_list

[[1, 2, 3], ['a', 'x', 'b', 'c'], [4.5, 8.9, 6.3]]

In [54]:
nested_list[1].remove('x')

In [55]:
nested_list

[[1, 2, 3], ['a', 'b', 'c'], [4.5, 8.9, 6.3]]

In [56]:
## slicing a list 
## this is used to access a subset from the list
students_ba

['Aman', 'neha', 'priya']

In [57]:
students_ba.append('sheenu')
students_ba.append('asmit')

In [58]:
students_ba

['Aman', 'neha', 'priya', 'sheenu', 'asmit']

In [59]:
sliced_list=students_ba[1:3]

In [60]:
sliced_list

['neha', 'priya']

In [61]:
## slicing is done using colon ':' symbol 
## start index:End index 
## start index is included 
## end index is excluded

In [62]:
students_ba[:]

['Aman', 'neha', 'priya', 'sheenu', 'asmit']

In [63]:
students_ba[:3]

['Aman', 'neha', 'priya']

In [64]:
students_ba[2:]

['priya', 'sheenu', 'asmit']

In [65]:
students_ba[0:2]

['Aman', 'neha']

In [68]:
students_ba[-2
## for last two elements

['sheenu', 'asmit']

In [69]:
students_ba[-3]

'priya'

In [70]:
students_ba[-4:-2]

['neha', 'priya']

## Dictionary data structure

In [71]:
## It has key value pairs 
## crested using {}:,

In [73]:
dict_1 = {'Name':'Priya','Gender':'Female','Age':23 }

In [74]:
type(dict_1)

dict

In [75]:
## Unlike tuple and lists, it doesnt have predefined indexes 
## In dictionary, the user himself defines the indexes(keys)

## Keys - Name, Gender, Age 
## Values - Aman, male, 29 

## keys should be unique. We can't have two keys with the same name. 
## keys and values can be of any data types 
## Best practice is to define keys as strings

In [78]:
dict_2 = {1:15.0,'name':'priya',2.4:'ABC'}
## keys can be of any type

In [83]:
employee_info= {'Name':'Priya', 'Age':21, 'place':'Delhi'}

In [84]:
employee_info['Name']

'Priya'

In [85]:
employee_info['Age']

21

In [86]:
employee_info

{'Name': 'Priya', 'Age': 21, 'place': 'Delhi'}

In [88]:
## Remove key value pair 
## del method is used 

del employee_info['place']

In [89]:
employee_info

{'Name': 'Priya', 'Age': 21}

In [90]:
## clear() can be used to delete all items

employee_info.clear()

In [91]:
employee_info

{}

In [97]:
employee_info= {'Name':'Priya', 'Age':21, 'place':'Delhi'}

In [98]:
## Add a key value pair 

employee_info['dept']= 'finance'

In [99]:
employee_info

{'Name': 'Priya', 'Age': 21, 'place': 'Delhi', 'dept': 'finance'}

In [100]:
## for updating a value 

employee_info['Age']=30

In [101]:
employee_info

{'Name': 'Priya', 'Age': 30, 'place': 'Delhi', 'dept': 'finance'}

In [102]:
## keys function is used to get the name of all keys 

employee_info.keys()

dict_keys(['Name', 'Age', 'place', 'dept'])

In [106]:
## values()

employee_info.values()

dict_values(['Priya', 30, 'Delhi', 'finance'])

In [112]:
## create list for storing employee keys

a= list(employee_info.keys())

In [114]:
type(a)

list

In [115]:
a

['Name', 'Age', 'place', 'dept']

In [116]:
## items function 

employee_info.items()

dict_items([('Name', 'Priya'), ('Age', 30), ('place', 'Delhi'), ('dept', 'finance')])

In [117]:
## for finding keys 
len(employee_info)

4